@font-face {
    font-family: Din;
    src: url(/fonts/DIN\ Medium.ttf);
}

@font-face {
    font-family: light;
    src: url(/fonts/DIN.ttf);
}

@font-face {
    font-family: Lora;
    src: url(/fonts/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: Monserrat;
    src: url(/fonts/Montserrat-Medium.otf);
}

body{
    margin: 0;
    padding: 0;
    color: black;
    background-color: #FEFAF6;
}


//darkmode 
.darkmode{
    background-color: #22092C;
    color: white;
}

.darkmode a{
    color: white;
}

//navbar css
.navbar img{
  width: 5%;
}

.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-family: Din;
    font-size: large;
    margin-top: 2%;
}

.navbar nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

.navbar nav a{
    text-decoration: none;
    color: black;
}


.navbar .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -5%;
    width: 6%;
    align-items: center;
}

.icons ion-icon{
    font-size: larger;
    margin-left: 10%
}

.icons img{
    width: 100%;
}


.welcome{
    font-family: Lora;
    text-align: center;
    margin-top: 5%;
    color: orangered;
}

//css for first row
.first_row{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.saving_account{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    background-color:beige;
    padding: 10px;
    border-radius: 15px;
}

.saving_account p{
    font-family: monserrat;
    font-size: x-small;
    color: rgba(0, 0, 0, 0.451);
}

.saving_account .details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -4%;
}

.saving_account h2{
    font-family: lora;
}

.saving_account span{
    color: orangered;
    font-size:medium ;
}

.details ion-icon{
    margin-left: 4%;
    color: orangered;
}

.details p{
    font-size: small;
}

.buttons button{
    padding: 12px;
    background-color: orangered;
    border: none;
    font-family: Din;
    border-radius: 11px;
}

.buttons .link{
    margin-left: 5%;
    background-color: whitesmoke;
}

// css for define in the first row 
.define{
    display: flex;
    flex-direction: row;
    width: 40%;
    background-color: orangered;
    margin-left: 5%;
    padding: 10px;
    border-radius: 11px;
    justify-content: space-evenly;

}

.define img{
    width: 20%;
}

.define button{
    padding: 10px;
    border-radius: 11px;
    font-family: Din;
    border: none;
}

.define h2{
    font-family: lora;
}

.define p{
    font-family: monserrat;
    font-size: x-small;
    color:rgba(0, 0, 0, 0.451) ;
}

//css for second row 
.second_row{
    margin-top: 7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.company{
    display: flex;
    flex-direction: row;
    width: 20%;
    background-color: beige;
    margin: 1px;
    justify-self: center;
    justify-content: space-around;
    border-radius: 10px;
    color: #22092C;
}

.company_text{
    width: 35%;
    margin-left: 20%;
}

.company_text h2{
    font-family: lora;
    font-size: x-large;
}

.company_text h3{
    font-family: lora;
}

.company_text p,
.company_text ion-icon{
    font-family: monserrat;
    font-size: small;
    color: rgba(0, 0, 0, 0.451);
}

.company_text span{
    color: rgba(0, 0, 0, 0.451);
}


.company_text_copy{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10%;
}

.company_text_copy ion-icon{
    margin-left: 5%;
}

.company_img{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.company_img{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.company_img .img{
    font-size: 3em;
}

.company_img .dots{
    margin-top: 125%;
    margin-left: 30%;
    color: rgba(0, 0, 0, 0.451);
}

.twitter{
    color: lightskyblue;
}

.html{
    color: orangered;
}

.soundcloud{
    color: orangered;
}


// final half css
.final_half{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.transactions{
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right:3% ;
    margin-left: 4%;
    border-radius: 3%;
}

.transactions h2{
    font-family: Lora;
}

.top_half{
  display: flex;
  flex-direction:row ;
  align-items: center;
  justify-content: space-around;
  font-size: larger;
  width: 100%;
}

.payments{
    display: flex;
    flex-direction: column;
}

.payments h3{
    font-family: lora;
}

.payments p{
    font-family: monserrat;
    font-size: small;
}

.payment{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.payment_money{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:50%;
}

//css for the types for money
.food_type{
    color: blue;
}

.payments hr{
    width: 88%;
}

.cloth_type{
    color: indigo;
}

.bills_type{
    color: lightblue;
}

.salary_type{
    color: green;
}

.transactions_p{
    font-family: monserrat;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.473);
}

//expenses
.expenses{
  width: 100%;
  background-color: orangered;
  margin-right: 4%;
  border-radius: 3%;
  color: #FEFAF6;
}

.top_half2{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    width: 100%;
}

.top_half2 h2{
    font-family: lora;
}


//daily
.daily{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.daily p{
    font-family: monserrat;
    font-size: small;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.442);
}

.daily h3{
    font-family: lora;
}

.expenses hr{
    width: 87%;
}

.lastmonth{
    margin-left: 3%;
    font-family: lora;
}

.last_part{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}

.last_part .items{
    font-family: Din;
}
.outer-circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(
        green 0% 45%, 
        white 45% 50%, 
        lightblue 50% 55%, 
        white 55% 60%, 
        indigo 60% 85%, 
        white 85% 90%, 
        blue 90% 95%, 
        white 95% 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-circle{
    width: 200px;
    height:200px;
    border-radius: 50%;
    background-color: #22092C;
    border: 10px beige solid;
    color: white;
}

.salary_text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
    flex-direction: column;
}

.salary_text h2{
    margin-top: -2%;
    font-family: lora;
}

.salary_text p{
    font-family: Din;
    color: gold;
}